*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #007bff;
    display: flexbox;
}
.start_div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.start_button{
    padding: 15px 32px;
    font-size: 16px;
    color: #007bff;
}
.HighScores{
    color: #fff;
    padding: 25px;
    display: block;
}
.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
    opacity: none;
}
