*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #007bff;
    display: flex;
    justify-content: center;
    
    
}
.start_div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.start_button{
    padding: 15px 32px;
    font-size: 1.5rem;
    color: #007bff;
    font-weight: bold;
}
.HighScores{
    color: #fff;
    padding: 25px;
    

    
}
.quiz_box{
    width: 800px;
    max-width: 80%;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    
}
.quiz_box header .time_left_txt{
    font-weight: 400px;
    font-size: 17px;
}
.quiz_box header .timer_sec{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    
}
section.que_text{
    font-size: 25px;
    font-weight: 600;
}
section .option_list{
    padding: 20px 0px;
    display: block;
}

.btn-grid{
    display: grid;
    margin: 20px;
    gap: 10px;
    
}

.btn{
    background-color: #007bff;
}



.next_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;   
}

.start_btn{
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
}

.hide{
    display: none;
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}